<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <iframe id="game-element" allowfullscreen="true" allow="autoplay; fullscreen; camera; focus-without-user-activation *; monetization; gamepad; keyboard-map *; xr-spatial-tracking; clipboard-write; web-share; accelerometer; magnetometer; gyroscope; microphone *" name="gameFrame" scrolling="no" sandbox="allow-forms allow-modals allow-orientation-lock allow-pointer-lock allow-popups allow-popups-to-escape-sandbox allow-presentation allow-scripts allow-same-origin allow-downloads" src="https://games.poki.com/458768/a2c04ea2-5549-4f04-98d3-723d23fdf902?tag=pg-9e6084c9b19f971e704716332dd6e32d602a2197&amp;site_id=54&amp;iso_lang=tr&amp;country=TR&amp;poki_url=https://poki.com/tr/g/under-the-red-sky&amp;hoist=yes&amp;nonPersonalized=n&amp;cloudsavegames=n&amp;familyFriendly=n&amp;categories=2,3,9,48,76,91,93,885,903,1126,1163,1177,1190&amp;special_condition=landing&amp;user_id=aa8wL78ByEHlc7cVHMsE8g" title="Game" class="Clsn52HE2ZzhoBMbiAF6"></iframe> 
</body>
</html>