# Flask Configuration
SECRET_KEY=SECRET_KEY
DATABASE_URL=sqlite:///DATABASE.db
# Bot Tokens
TELEGRAM_TOKEN=TELEGRAM_TOKEN
DISCORD_TOKEN=DISCORD_TOKEN

# Admin Notifications
ADMIN_TELEGRAM_ID=ADMIN_TELEGRAM_ID

RATELIMIT_ENABLED=boolen
PUBLIC_API_RATE_LIMIT="X per minute"
VIP_API_KEYS="VIP_API_KEYS,VIP_API_KEYS2"

# Admin Authentication
ADMIN_USER=ADMIN_USER
ADMIN_PASS=ADMIN_PASS

SERVER_NAME=SERVER_NAME

STREAM_SECRET=STREAM_SECRET
STREAM_KEY=STREAM_KEY
STREAM_LIVE_FALLBACK=boolen
SHOW_LIVE_SECTION=boolen
