{
    "content": [
        {
            "type": "ayet",
            "text": "Örnek ayet metni buraya gelecek.",
            "category": "daily",
            "source": "Sure Adı ve Ayet Numarası"
        },
        {
            "type": "hadis",
            "text": "Örnek hadis metni buraya gelecek.",
            "category": "daily",
            "source": "Hadis Kaynağı"
        },
        {
            "type": "soz",
            "text": "Örnek güzel söz metni buraya gelecek.",
            "category": "daily",
            "source": "Sözün Sahibi"
        },
        {
            "type": "xxxx",
            "text": "type'a uygun metin",
            "category": "daily",
            "source": "xxxx"
        }
    ]
}
